/* @font-face {
  font-family: eventDescFont;
  src: url('../Events/Poppins-Regular.otf');
} */

@font-face {
  font-family: aboutHeadingFont;
  src: url('../Events/RussoOne-Regular.ttf');
}

@font-face {
  font-family: aboutparaFont;
  src: url('../Events/Comfortaa-Regular.ttf');
}
.abg {
  background: url(./images/ABOUT.svg);
  min-height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}
.columnn {
  float: left;
  width: 45%;
  padding-top: 14%;
}
.udy {
  padding-top: 12%;
  padding-left: 2%;
  padding-right: 2%;
}
.udx,
.udy {
  word-wrap: break-word;
  color: white;
}
.aboutx {
  margin-left: 6%;
}
.hdx {
  font-family: aboutHeadingFont;
  font-size: 48px;
  padding-bottom: 5px;
}
.columnn img {
  width: 42vw;
}
.udx {
  font-family: aboutparaFont;
  font-size: 20px;
  word-spacing: 0.5em;
  line-height: 1.5em;
  height: 50vh;
  overflow-y: auto;
}
@media screen and (min-width: 1300px) {
  .imgx {
    padding-left: 6%;
  }
}
@media screen and (max-width: 900px) {
  .columnn {
    width: 100vw;
    padding-top: 0;
  }
  .columnn img {
    width: 100vw;
  }
  .udy {
    padding-top: 0;
  }
  .hdx {
    margin-top: 0;
  }

  .aboutx {
    margin-left: 2%;
    margin-right: 2%;
  }
  .imgx {
    transform: scaleY(0.8);
    width: 100%;
  }
  .abg {
    background-image: none;
  }
  .udx {
    font-size: 14px;
    height: fit-content;
  }
}
