*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font: clamp(11px, 2.5vmin, 18px) / 1.4 sans-serif;
  color: #252525;
}
/* .article {
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1.2em;
  } */
.article {
  height: 100vh;
  background-color: rgb(2, 2, 49);
}
.updates-main-container {
  color: white;
}
.updates-udyam-head-container {
  background-color: rgba(43, 139, 207, 255);
  padding: 0.4em 2em;
  position: sticky;
  z-index: 1;
  bottom: calc(2 * 2em);
  top: calc(0 * 2em);
}

.updates-udyam-content {
  background-color: rgba(43, 139, 207, 255);
  padding: 2rem;
  position: sticky;
  height: 100vh;
  top: calc(1 * 1.6em);
  padding-bottom: 8em;
}

.updates-udgam-head-container {
  background-color: rgba(78, 65, 149, 255);
  padding: 0.4em 2em;
  position: sticky;
  z-index: 1;
  bottom: calc(1 * 2em);
  top: calc(1 * 2em);
}

.updates-udgam-content {
  background-color: rgba(78, 65, 149, 255);
  padding: 2rem;
  position: sticky;
  height: 100vh;
  top: calc(2 * 1.6em);
  padding-bottom: 8em;
}

.updates-mashal-head-container {
  background-color: rgba(22, 22, 25, 255);
  padding: 0.4em 2em;
  position: sticky;
  z-index: 1;
  bottom: calc(0 * 2em);
  top: calc(2 * 2em);
}

.updates-mashal-content {
  background-color: rgba(22, 22, 25, 255);
  padding: 2rem;
  position: sticky;
  height: 100vh;
  top: calc(0 * 1.6em);
  padding-bottom: 8em;
}
