.contentCard {
  position: absolute;
  top: 0vh;
  left: 0;
  width: 90%;
  height: 100vh;
  background-image: linear-gradient(to right, rgb(3, 7, 54), rgb(49, 6, 150));
  z-index: 0;
  clip-path: polygon(0 0, 40% 0, 100% 40%, 100% 60%, 60% 100%, 0 100%, 0% 80%, 0% 38%);
  display: flex;
  align-items: center;
}

.contentContainer {
  position: absolute;
  left: 10%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logoContainer {
  padding: 2rem;
}

.descriptionContainer {
  height: 250px;
  overflow-y: scroll !important;
  margin: 20px;
}

.description {
  font-size: 1.5rem;
  color: white;
  text-align: justify;
  font-family: Poppins;
}

@media screen and (max-width: 600px) {
  .contentCard {
    position: absolute;
    left: 0;
    top: 13vh;
    height: 95vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, rgb(3, 7, 54), rgb(49, 6, 150));
    clip-path: polygon(34% 18%, 66% 18%, 100% 55%, 100% 92%, 68% 92%, 30% 92%, 0 92%, 0 55%);
  }

  .logoContainer {
    padding: 0.5rem;
  }

  .contentContainer {
    flex-direction: column;
    position: absolute;
    width: 100vw;
    left: 0;
    bottom: 8%;
  }

  .logo {
    height: 80px;
  }

  .descriptionContainer {
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
  }

  .description {
    font-size: 1.2rem;
  }
}
