@import url(https://fonts.googleapis.com/css?family=Ek+Mukta:200);
/* body {
  margin: 0;
  line-height: 1.4;
  /* background: #e1e1e1; 
} */
.Teams-Navbar {
  background-color: #001432;
}
.window {
  position: fixed;
  display: block;
  /* top: 10%; */
  /* width: 100vw;
  height: 567px; */
  /* margin: 100px auto 0; */
  box-shadow: 0 0 65px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 3px;
  z-index: 25;
  /* background: #f1f1f1; */
}
.window .header {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 8%;
  width: 100vw;
  overflow: hidden;
  transition: all 0.5s ease-out, background 1s ease-out;
  transition-delay: 0.2s;
  z-index: 23;
}
.window .header .burger-container {
  position: relative;
  display: inline-block;
  height: 55px;
  width: 60px;
  cursor: pointer;
  background: rgba(23, 52, 86, 0.763);
  transform: rotate(0deg);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  user-select: none;
  /* border-radius: 5px; */
  -webkit-tap-highlight-color: transparent;
}
.window .header .burger-container #burger {
  width: 18px;
  height: 8px;

  position: relative;
  display: block;
  margin: -4px auto 0;
  top: 60%;
}
.window .header .burger-container #burger .bar {
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  background: #fff;
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0s;
}
.window .header .burger-container #burger .bar.topBar {
  transform: translateY(0px) rotate(0deg);
}
.window .header .burger-container #burger .bar.btmBar {
  transform: translateY(6px) rotate(0deg);
}
.window .header .icon {
  display: inline-block;
  position: absolute;
  height: 100%;
  line-height: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  left: 50%;
  transform: translateX(-50%);
}
.window .header .icon.icon-bag {
  right: 0;
  top: 0;
  left: auto;
  transform: translateX(0px);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0.65s;
}
.window .header ul.menu {
  position: relative;
  display: block;
  height: 89%;
  padding: 0px 48px 0;
  list-style: none;
}
.window .header ul.menu li.menu-item {
  border-bottom: 1px solid #333;
  margin-top: 5px;
  transform: scale(1.15) translateY(-30px);
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
.window .header ul.menu li.menu-item:nth-child(1) {
  transition-delay: 0.49s;
}
.window .header ul.menu li.menu-item:nth-child(2) {
  transition-delay: 0.42s;
}
.window .header ul.menu li.menu-item:nth-child(3) {
  transition-delay: 0.35s;
}
.window .header ul.menu li.menu-item:nth-child(4) {
  transition-delay: 0.28s;
}
.window .header ul.menu li.menu-item:nth-child(5) {
  transition-delay: 0.21s;
}
.window .header ul.menu li.menu-item:nth-child(6) {
  transition-delay: 0.14s;
}
.window .header ul.menu li.menu-item:nth-child(7) {
  transition-delay: 0.07s;
}
.window .header ul.menu li.menu-item a {
  display: block;
  position: relative;
  color: #fff;
  font-family: 'Ek Mukta', sans-serif;
  font-weight: 100;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  line-height: 2.35;
  font-weight: 200;
  width: 100%;
  height: 12vh;
}
.window .header.menu-opened {
  height: 100%;
  background-color: #000;
  transition: all 0.3s ease-in, background 0.5s ease-in;
  transition-delay: 0.25s;
}
.window .header.menu-opened .burger-container {
  transform: rotate(90deg);
}
.window .header.menu-opened .burger-container #burger .bar {
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0.2s;
}
.window .header.menu-opened .burger-container #burger .bar.topBar {
  transform: translateY(4px) rotate(45deg);
}
.window .header.menu-opened .burger-container #burger .bar.btmBar {
  transform: translateY(3px) rotate(-45deg);
}
.window .header.menu-opened ul.menu li.menu-item {
  transform: scale(1) translateY(0px);
  opacity: 1;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(1) {
  transition-delay: 0.27s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(2) {
  transition-delay: 0.34s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(3) {
  transition-delay: 0.41s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(4) {
  transition-delay: 0.48s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(5) {
  transition-delay: 0.55s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(6) {
  transition-delay: 0.62s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(7) {
  transition-delay: 0.69s;
}
.window .header.menu-opened .icon.icon-bag {
  transform: translateX(75px);
  transition-delay: 0.3s;
}
.window .content {
  font-family: 'Ek Mukta', sans-serif;
  padding: 67px 4% 0;
  text-align: justify;
  overflow: scroll;
  max-height: 100%;
}
.window .content::-webkit-scrollbar {
  display: none;
}
.window .content h2 {
  margin-bottom: 0px;
  letter-spacing: 1px;
}
.window .content img {
  width: 95%;
  position: relative;
  display: block;
  margin: 75px auto 75px;
}
.window .content img:nth-of-type(2) {
  margin: 75px auto;
}
.event-names {
  font-family: 'Ek Mukta', sans-serif;
  font-size: 22px;
  height: 15%;
  border-bottom: 1px solid #333;
}

.event-names li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  line-height: 1.6;
  text-decoration: none;
  color: #fff;
}
@media (max-width: 600px) {
  .window .header {
    position: fixed;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
html {
  scroll-behavior: smooth;
}
.container {
  /* top: 0%;
  position: sticky; */
  width: 100vw;
  height: 10vh;
  display: flex;
  background: #02000900;
  font-family: 'Poppins', sans-serif;
  z-index: 160;
}
nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
.nav-links li {
  z-index: 5;
}
.nav-links {
  display: flex;
  margin-left: -3rem;
  text-decoration: none;
  /* gap: 2rem; */
  list-style: none;
  justify-content: space-around;
  align-self: center;
  width: 80%;
}

.nav-links li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
}
.nav-links li a:hover {
  border-bottom: 3px solid #fff;
}
.menu-bar {
  position: absolute;
  right: 8%;
  background-color: #120b2c;
  height: 36px;
  width: 44px;
  font-size: 22px;
  align-self: center;
  cursor: pointer;
  /* border-radius: 1px; */
  /* padding: 5px 10px; */
  float: right;
  z-index: 5;
}
.menu-bar i {
  color: #fff;
}
.menu-text {
  /* position: fixed; */
  font-size: 1.2rem;
  display: none;
  color: #fff;
  height: 4vh;
  text-align: center;
  position: relative;
  top: 28%;
  right: -32%;
  z-index: 5;
  cursor: pointer;
}

.dropmenu {
  display: flex;
  position: absolute;
  width: 7%;
  left: 35vw;
  top: 53px;
  flex-direction: column;
  padding: 1.2rem;
  gap: 3px;
  z-index: 50;
  background-color: #120b2c90;
  box-shadow: 4px 5px 18px #6767677c;
}

.dropmenu a {
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}
.dropmenu a:hover {
  color: rgb(170, 164, 164);
}

@keyframes expand {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.show {
  top: 0%;
  display: flex;
  transition: expand 4s ease-in-out;
}

.hide {
  display: none;
}
@keyframes slide {
  0% {
    left: -100%;
  }
  20% {
    left: -80%;
  }
  80% {
    left: -30%;
  }
  100% {
    left: 0%;
  }
}
@media screen and (max-width: 800px) {
  .dropmenu {
    display: none;
  }
}
@media screen and (max-width: 800px) and (min-width: 600px) {
  .nav-links li a {
    font-size: 1.1rem;
  }
  .menu-text {
    right: -28%;
  }
}
.logout-btn {
  display: none;
  position: fixed;
  color: white;
  top: 10px;
  right: 10px;
  font-size: 40px;
}
.show-now {
  display: block;
}
