@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;900&family=Outfit:wght@400;700;900&display=swap');

.mashal-aboutUs-main-container h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 2.5rem;
  margin: 0;
  color: #f34b4b;
  font-family: 'Inconsolata';
}
.mashal-aboutUs-main-container p {
  font-size: 1.5rem;
}
/* .mashal-aboutus-bg {
  overflow: hidden;
  position: absolute;
  height: 76vh;
  width: 74vw;
  padding: 2vh 3vw;
  top: 10vh;
  left: 10vw;
  
 
} */
.mashal-aboutUs-main-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: url('../image/Mashal-Home.png') no-repeat;
  background-size: cover;
}
.mashal-aboutUS-inner-container {
  /* display: none; */
  z-index: 1;
  position: relative;
  display: flex;
  height: 76vh;
  width: 74vw;
  padding: 2vh 3vw;
  /* top: 10vh; */
  left: 10vw;
  background: url('../image/Mashal-Home2.png') no-repeat;
  background-size: cover;
  /* background-color: #3E3E3E; */
}
.mashal-aboutUs-heading-container {
  display: flex;

  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1vw;
  /* font-size: 2rem; */
  /* left: 43vw; */
  letter-spacing: 1vh;
  font-family: 'Inconsolata';
}
.mashal-aboutUs-heading-container-mobile {
  display: none;
}
.mashal-about-us-image-container {
  display: flex;
  justify-content: center;
}
.aboutUs-image {
  margin: 3vh 2vw;
  max-height: 70vh;
  max-width: 35vw;
  object-fit: fill;
}
.aboutUS-paragraph {
  margin: 8vh 2vw;
  /* font-size: 1.5rem; */
  color: white;
  font-family: 'Outfit';
  overflow: scroll;
}
.social-icons {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 3vw;
  /* background-color: black; */
  top: 5vh;
  right: 0;
  margin: 1vh;
  padding: 0.5vw;
  align-items: center;
  color: white;
}
.social-icons img {
  margin: 1vh 0;
  padding: 0.5vw 0;
}
.social-icons p {
  /* display: inline; */
  /* padding-right: 5vh; */
  margin: 0;
  padding: 1vh;
  position: relative;
  top: 8vh;
  /* left: -6vh; */
  letter-spacing: 0.5vh;
  width: 25vh;
  align-items: center;
  transform: rotate(-90deg);
  font-family: 'Inconsolata';
}
@media (max-width: 480px) {
  .mashal-aboutUs-main-container p {
    font-size: 1rem;
  }
  .mashal-aboutUs-main-container {
    background: url('../image/BG\ LAYER-Mobile\(1\).jpg') no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  .mashal-aboutUS-inner-container {
    position: relative;
    top: 6vh;
    height: 90vh;
    width: 90vw;
    padding: 5vh 5vw;
    left: 0;
    /* top: 10vh; */
    flex-direction: column;
    background: none;
  }
  .social-icons {
    display: none;
  }
  .mashal-aboutUs-heading-container {
    display: none;
  }
  .mashal-aboutUs-heading-container-mobile {
    position: relative;
    display: flex;
    /* top: 5vh; */
    letter-spacing: 1vh;
    display: flex;
    justify-content: center;
  }
}
