@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Russo+One&display=swap');
.top-bar {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 10vh;
  justify-content: space-between;
  background-color: rgba(42, 41, 41, 0.844);
  z-index: 6;
}
body {
  margin: 0;
  padding: 0;
}
.profile {
  padding: 2vh;
}
.profile img {
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
}
.emma {
  font-family: 'Poppins', sans-serif;
  position: relative;
  /* line-height: 5vh; */
  font-size: 3vh;
  /* top: 1vh; */
  left: 10%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.false {
  position: relative;
  top: 10%;
  height: 10vh;
}
