.mainDiv {
  color: aliceblue;
  position: relative;
  font-size: 5rem;
  height: 100vh;
  font-family: 'Russo One', sans-serif;
  background-color: rgba(0, 20, 50, 1);

  display: flex;
  justify-content: center;
  align-items: center;
}
