@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');

@font-face {
  font-family: navfont;
  src: url(./Inconsolata-Regular.ttf);
}
.bgxd {
  background: url('./image/Mashal-Home.png');
  min-height: 100vh;
  min-width: 100vw;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(20, 1fr);
  background-size: cover;
}
.one {
  grid-column: 1/41;
  grid-row: 1/3;
}
.two {
  grid-column: 1/4;
  grid-row: 3/19;
}
.three {
  grid-column: 4/38;
  grid-row: 3/19;
  background: url('./image/Mashal-Home2.png');
  /* background-size: contain; */
  height: 100%;
}
.fourth {
  grid-column: 38/41;
  grid-row: 3/19;
}
.five {
  grid-column: 1/41;
  grid-row: 19/21;
}
.three {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.mtext {
  width: 100%;
}
.logod {
  float: right;
  padding-top: 1rem;
  height: 30%;
  padding-right: 0.2rem;
}
.textx {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.elogo {
  width: 75%;
  position: relative;
  top: 30%;
}
.fourth {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.5rem;
  gap: 1rem;
}

.pxet {
  padding-bottom: 25%;
  height: 35px;
}
.pxd {
  padding-top: 17%;
  height: 200px;
}
.navx a {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  color: white !important;
  font-family: navfont;
  padding-top: 10%;
  padding-bottom: 18%;
  padding-left: 10%;
  font-weight: 480;
  letter-spacing: 0.4ch;
  text-decoration: none;
}
.tpx a {
  padding-bottom: 8%;
}
p.spx {
  position: absolute;
  top: 74%;
}
