.dial-button {
  position: relative;
  z-index: 1;
}

.circular-mai-container {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgb(2, 2, 49);
}

@media screen and (max-width: 600px) {
  .dial-button {
    transform: rotate(270deg);
  }
}
