@media screen and (max-width: 600px) {
  /* .remaining-leaderboard {
    display: none;
  } */
  .lb-coming-soon {
    top: 30vh;
  }
  .leaderboards-main-container {
    display: none;
    left: unset;
    /* display: flex; */
    flex-direction: column;
  }
  .leaderboards-main-container h1 {
    font-size: 2rem;
    padding: 5vh;
    text-align: center;
    margin: 0 auto;
  }
  .podium-main-container {
    width: 100vw;
    height: 40vh;
    display: flex;
    margin-top: 10vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .second-position {
    position: relative;
    width: 90%;
    margin: 1vh;
    height: 20vh;
    border-radius: 3vh;
    padding: 2vh;
    display: flex;

    background: rgb(231, 226, 223);
    background: linear-gradient(90deg, rgba(231, 226, 223, 0.6001751042213761) 12%, rgba(182, 159, 130, 0.15479695296087181) 100%, rgba(60, 57, 4, 0.3368697820925245) 100%, rgba(170, 151, 151, 0.7010154403558299) 100%);
  }

  .mobile-first-position {
    position: relative;
    width: 90%;
    margin: 1vh;
    height: 20vh;
    border-radius: 3vh;
    padding: 1vh;
    display: flex;
    background: rgb(236, 197, 0);
    background: linear-gradient(90deg, rgba(236, 197, 0, 0.6393907904958859) 12%, rgba(182, 159, 130, 0.15479695296087181) 100%, rgba(60, 57, 4, 0.3368697820925245) 100%, rgba(255, 255, 255, 0.7346288857339811) 100%);
  }
  .first-position {
    display: none;
  }
  .third-position {
    position: relative;
    width: 90%;
    margin: 1vh;
    height: 20vh;
    border-radius: 3vh;
    padding: 2vh;
    display: flex;
    background: rgb(236, 106, 0);
    background: linear-gradient(90deg, rgba(236, 106, 0, 0.6001751042213761) 12%, rgba(182, 159, 130, 0.15479695296087181) 100%, rgba(60, 57, 4, 0.3368697820925245) 100%, rgba(255, 255, 255, 0.7346288857339811) 100%);
  }
  .mobile-first-position img {
    transform: scale(0.5);
  }
  .third-position img {
    transform: scale(0.7);
  }
  .second-position img {
    transform: scale(0.7);
  }
  .img-and-score {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .team-score {
    position: relative;
    bottom: 0px !important;
    left: 0 !important;
    padding: 0 !important;
  }
  .team-name {
    padding: 2% !important;
  }
  .leaderboards-main-container {
  }
  .remaining-leaderboard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
  }
  .team-score-non-podium {
    position: relative;
    bottom: 0px !important;
    left: 0 !important;
    padding: 0 !important;
    font-size: medium;
  }
  .team-name-non-podium {
    padding: auto !important;
    padding-inline-start: 10px;
    font-size: medium;
  }
  .leaderboard-position {
    font-size: medium;
  }
  .leaderboard-box {
    width: 80% !important;
    height: 6vh;
  }
}
