.footerbg {
  height: 100%;
  background-color: #130426;
}
.items {
  padding-top: 1.5%;
  padding-bottom: 0%;
}
.px {
  padding: 0 0.5%;
  position: relative;
  float: right;
  padding-right: 2%;
  transform: scale(1);
  height: 65px;
}
.pxde {
  padding-top: 3%;
  padding-bottom: 2%;
  padding-left: 2%;
}
@media only screen and (max-width: 900px) {
  .px {
    height: 65px;
  }
}
@media only screen and (max-width: 800px) {
  .px {
    height: 55px;
  }
}
@media only screen and (max-width: 600px) {
  .px {
    height: 52px;
    padding-top: 5%;
  }
}
@media only screen and (max-width: 500px) {
  .px {
    height: 30px;
    padding-top: 5%;
  }
  .pxde {
    transform: scale(0.5);
    padding-top: 7%;
  }
}
@media only screen and (max-width: 350px) {
  .px {
    height: 28px;
    padding-top: 5%;
  }
  .pxde {
    transform: scale(0.5);
    padding-top: 7%;
  }
}

@media only screen and (max-width: 300px) {
  .px {
    height: 25px;
    padding-top: 5%;
  }
  .pxde {
    transform: scale(0.5);
    padding-top: 7%;
  }
}
