@font-face {
  font-family: SpartanRegular;
  src: url(./Spartan-Regular.ttf);
}
@font-face {
  font-family: SpartanBold;
  src: url(./Spartan-Bold.ttf);
}
@font-face {
  font-family: SpartanSemiBold;
  src: url(./Spartan-SemiBold.ttf);
}
.updates-main-container {
  font-family: SpartanRegular;
  /* overflow: hidden; */
}
.update-content a {
  position: relative;
  font-family: 'Poppins', sans-serif;
  border: 0.5vh;
  border-radius: 1vh;
  padding: 1vh 1vh;
  margin: 2vh 2vh;
  text-decoration: none;
  color: white;
  font-style: italic;
}

.update-content a:hover {
  cursor: pointer;
}
.updates-main-container h1 {
  font-size: 6vh;
  margin: 0;
  margin-top: 1vh;
  padding: 0.3rem 0rem;
}
.updates-main-container h2 {
  font-family: SpartanSemiBold;
  margin: 2vh 0;
  font-size: 1.5rem;
}
.updates-udyam-head-container {
  font-family: SpartanBold;
  background: linear-gradient(283.87deg, #2306ab -1.02%, #0b0554 100%);
  mix-blend-mode: normal;
  box-shadow: 0px 5px 7px 3px rgba(0, 0, 0, 0.25);
  color: white;
  height: 12vh;
  padding: 0.5rem 8rem;
  font-size: 2rem;
  position: sticky;
  z-index: 1;
  bottom: 24vh;
  top: 0vh;
}
.updates-udyam-head-container h1 {
  font-weight: 900;
}
.updates-udgam-head-container h1 {
  font-weight: 900;
}
.updates-mashal-head-container h1 {
  font-weight: 900;
}

.updates-udyam-content {
  background: linear-gradient(283.87deg, #2306ab -1.02%, #0b0554 100%);
  mix-blend-mode: normal;
  box-shadow: 0px 5px 7px 3px rgba(0, 0, 0, 0.25);
  color: white;
  /* font-size: 0.1rem; */
  padding: 2rem 6rem;
  /* position: sticky; */
  min-height: 90vh;
  /* top: 12vh; */
  padding-bottom: 0;
  overflow-y: auto;
}

.updates-udgam-head-container {
  font-family: SpartanBold;
  background: linear-gradient(180deg, #4e4195 0%, #22185c 100%);
  mix-blend-mode: normal;
  box-shadow: 0px 5px 6px 7px rgba(0, 0, 0, 0.25);
  color: white;
  height: 12vh;
  padding: 0.5rem 8rem;
  font-size: 2rem;
  position: sticky;
  z-index: 1;
  bottom: 12vh;
  top: 12vh;
}

.updates-udgam-content {
  background: linear-gradient(180deg, #4e4195 0%, #22185c 100%);
  mix-blend-mode: normal;
  box-shadow: 0px 5px 6px 7px rgba(0, 0, 0, 0.25);
  color: white;
  padding: 2rem 6rem;
  /* position: sticky; */
  min-height: 80vh;
  top: 24vh;
  padding-bottom: 8em;
}

.updates-mashal-head-container {
  font-family: SpartanBold;
  background: #16161a;
  mix-blend-mode: normal;
  color: white;
  height: 12vh;
  padding: 0.5rem 8rem;
  font-size: 2rem;
  position: sticky;
  z-index: 1;
  bottom: 0vh;
  top: 24vh;
}

.updates-mashal-content {
  background: #16161a;
  mix-blend-mode: normal;
  color: white;
  padding: 2rem 6rem;
  /* position: sticky; */
  min-height: 70vh;
  top: 36vh;
  padding-bottom: 8em;
}

.update-content {
  line-height: 1;
  font-size: 1rem;
}
.update-paragraph {
  display: flex;
  border: 1vh;
  height: max-content;
  border-radius: 1vh;
  margin: 2vh 2vh;
  padding: 1vh 3vh;
}
.update-paragraph p {
  margin: 0;
}
.update-information {
  width: 80%;
  float: left;
}
.event-update-link {
  width: 12%;
  padding: 1vh 1vh;
  float: right;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
.udyam-background-light {
  background: linear-gradient(283.87deg, #2306ab -1.02%, #0b0554 100%);
  mix-blend-mode: normal;
  /* box-shadow: 0px 5px 7px 3px rgba(0, 0, 0, 0.25); */
}
.udgam-background-light {
  background: linear-gradient(180deg, #4e4195 0%, #22185c 100%);
  mix-blend-mode: normal;
  /* box-shadow: 0px 5px 6px 7px rgba(0, 0, 0, 0.25); */
}
.mashal-background-light {
  background: #16161a;
  mix-blend-mode: normal;
  /* border: 1px solid #FEFAFA; */
}
.udyam-background-dark {
  background: linear-gradient(283.87deg, #2306ab -1.02%, #0b0554 100%);
  mix-blend-mode: normal;
  box-shadow: 0px 5px 7px 3px rgba(0, 0, 0, 0.25);
}
.udgam-background-dark {
  background: linear-gradient(180deg, #4e4195 0%, #22185c 100%);
  mix-blend-mode: normal;
  box-shadow: 0px 5px 6px 7px rgba(0, 0, 0, 0.25);
}
.mashal-background-dark {
  background: #16161a;
  mix-blend-mode: normal;
  /* border: 1px solid #FEFAFA; */
}

@media (max-width: 480px) {
  .update-content a {
    /* position: relative; */
    width: 85%;
    border: 0.1vh;
    border-radius: 0.6vh;
    padding: 0.4vh 0.6vh;
    margin: 1vh 1vh;
    text-decoration: none;
    color: white;
    font-style: italic;
  }

  .update-content a:hover {
    cursor: pointer;
  }
  .updates-main-container h1 {
    font-size: 1.2rem;
    padding-top: 1.4vh;
    margin: 0;
  }
  .updates-main-container h2 {
    font-size: 1rem;
    margin: 0.5vh 0vh;
  }
  .updates-udyam-head-container {
    background: linear-gradient(283.87deg, #2306ab -1.02%, #0b0554 100%);
    mix-blend-mode: normal;
    box-shadow: 0px 5px 7px 3px rgba(0, 0, 0, 0.25);
    color: white;
    height: 6vh;
    padding: 0.5vh 2vh;
    /* font-size: 2vh; */
    position: sticky !important;
    z-index: 1;
    bottom: 12vh;
    top: 0vh;
  }

  .updates-udyam-content {
    background: linear-gradient(283.87deg, #2306ab -1.02%, #0b0554 100%);
    mix-blend-mode: normal;
    box-shadow: 0px 5px 7px 3px rgba(0, 0, 0, 0.25);
    color: white;
    padding: 3vh 1vh;
    /* position: sticky !important; */
    min-height: 94vh;
    top: 6vh;
    padding-bottom: 0;
  }

  .updates-udgam-head-container {
    background: linear-gradient(180deg, #4e4195 0%, #22185c 100%);
    mix-blend-mode: normal;
    box-shadow: 0px 5px 6px 7px rgba(0, 0, 0, 0.25);
    color: white;
    height: 6vh;
    padding: 0.5vh 2vh;
    font-size: 2vh;
    position: sticky !important;
    z-index: 1;
    bottom: 6vh;
    top: 6vh;
  }

  .updates-udgam-content {
    background: linear-gradient(180deg, #4e4195 0%, #22185c 100%);
    mix-blend-mode: normal;
    box-shadow: 0px 5px 6px 7px rgba(0, 0, 0, 0.25);
    color: white;
    padding: 3vh 1vh;
    /* position: sticky !important; */
    min-height: 88vh;
    top: 12vh;
    /* padding-bottom: 8em; */
  }

  .updates-mashal-head-container {
    background: #16161a;
    mix-blend-mode: normal;
    /* border: 1px solid #FEFAFA; */
    color: white;
    height: 6vh;
    padding: 0.5vh 2vh;
    font-size: 2vh;
    position: sticky !important;
    z-index: 1;
    bottom: 0vh;
    top: 12vh;
  }

  .updates-mashal-content {
    background: #16161a;
    mix-blend-mode: normal;
    /* border: 1px solid #FEFAFA; */
    color: white;
    padding: 3vh 1vh;
    /* position: sticky !important; */
    min-height: 82vh;
    top: 18vh;
    /* padding-bottom: 8em; */
  }

  .update-content {
    line-height: 1.2;
    font-size: 1.5vh;
  }
  .update-paragraph {
    border: 0.5vh;

    border-radius: 0.8vh;
    margin: 0.8vh;
    padding: 0.5vh 1vh;
  }
  .update-information {
    width: 70%;
    float: left;
  }
  .event-update-link {
    width: 20%;
    /* float: right; */
    text-align: center;
  }
}

@media (max-width: 820px) and (min-width: 481px) {
  .update-content a {
    border: 0.1vh;
    border-radius: 0.6vh;
    padding: 1vh 1vh;
    margin: 0.5vh;
    text-decoration: none;
    color: white;
    font-style: italic;
  }

  .update-content a:hover {
    cursor: pointer;
  }
  .updates-main-container h1 {
    font-size: 4vh;
  }
  .updates-main-container h2 {
    margin: 0.5vh 0vh;
    font-size: 2rem;
  }
  .updates-udyam-head-container {
    background: linear-gradient(283.87deg, #2306ab -1.02%, #0b0554 100%);
    mix-blend-mode: normal;
    box-shadow: 0px 5px 7px 3px rgba(0, 0, 0, 0.25);
    color: white;
    height: 8vh;
    padding: 1.2vh 2vh;
    font-size: 2.5vh;
    position: sticky !important;
    z-index: 1;
    bottom: 16vh;
    top: 0vh;
    /* width: 100vw; */
  }

  .updates-udyam-content {
    background: linear-gradient(283.87deg, #2306ab -1.02%, #0b0554 100%);
    mix-blend-mode: normal;
    box-shadow: 0px 5px 7px 3px rgba(0, 0, 0, 0.25);
    color: white;
    padding: 3vh 1vh;
    /* position: sticky !important; */
    min-height: 92vh;
    top: 8vh;
    padding-bottom: 0;
  }

  .updates-udgam-head-container {
    background: linear-gradient(180deg, #4e4195 0%, #22185c 100%);
    mix-blend-mode: normal;
    box-shadow: 0px 5px 6px 7px rgba(0, 0, 0, 0.25);
    color: white;
    height: 8vh;
    padding: 1.2vh 2vh;
    font-size: 2.5vh;
    position: sticky !important;
    z-index: 1;
    bottom: 8vh;
    top: 8vh;
    /* width: 100vw; */
  }

  .updates-udgam-content {
    background: linear-gradient(180deg, #4e4195 0%, #22185c 100%);
    mix-blend-mode: normal;
    box-shadow: 0px 5px 6px 7px rgba(0, 0, 0, 0.25);
    color: white;
    padding: 3vh 2vh;
    /* position: sticky !important; */
    min-height: 84vh;
    top: 16vh;
    padding-bottom: 8em;
  }

  .updates-mashal-head-container {
    background: #16161a;
    mix-blend-mode: normal;
    /* border: 1px solid #FEFAFA; */
    color: white;
    height: 8vh;
    padding: 1.2vh 2vh;
    font-size: 2.5vh;
    position: sticky !important;
    z-index: 1;
    bottom: 0vh;
    top: 16vh;
    /* width: 100vw; */
  }

  .updates-mashal-content {
    background: #16161a;
    mix-blend-mode: normal;
    /* border: 1px solid #FEFAFA; */
    color: white;
    padding: 3vh 2vh;
    /* position: sticky !important; */
    min-height: 76vh;
    top: 24vh;
    padding-bottom: 8em;
  }

  .update-content {
    line-height: 1.5;
    font-size: 1.5vh;
  }
  .update-paragraph {
    border: 1vh;

    border-radius: 1vh;
    margin: 1vh 2vh;
    padding: 1vh 1vh;
  }
  .update-information {
    width: 75%;
    float: left;
  }
  .event-update-link {
    width: 18%;
    /* width: 30%; */
    /* float: right; */
    text-align: center;
  }
}
