@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200&display=swap');

.faqs {
  background: #001432 fixed repeat center;
  /* position: relative; */
  top: 0%;
  bottom: 0%;
  width: 100vw;
  /* height: 100vh; */
  color: white;
}

.sec {
  /* min-height: 100vh; */
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-weight: 100; */
}

.title {
  font-family: 'League Spartan', sans-serif;
  font-style: normal;
  font-weight: 700;
  /* font-size: 55px; */
  font-size: 4rem;
  line-height: 64px;
  letter-spacing: 0.3rem;
  color: #ffffff;
  margin: 4rem 3rem;
  align-items: center;
}

.faq {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left {
  width: 42vw;
  margin: 0vw 2vw;
  margin-top: -16vh;
  padding-bottom: 10vh;
}

#learnmorebtn {
  width: 26vw;
  margin-left: 1.8vw;
}

.teaminfo {
  font-family: 'League Spartan', sans-serif;
  display: flex;
  flex-direction: column;
  margin-left: 6vw;
  letter-spacing: 1.6px;
}

#msgicon {
  height: 2vh;
  margin-top: 0.8vh;
}

.team h3 {
  margin: 2vh 3.8vh;
  font-size: 16px;
  font-weight: lighter;
}

.team p {
  margin-top: 8px;
}

.team h2 {
  font-size: 22px;
  letter-spacing: 1.6px;
  font-family: sans-serif;
}

.headi {
  margin: 0px 0px;
  display: flex;
  /* margin-bottom: 2vh; */
}

.teamname {
  margin-left: 0.6vw;
  font-family: sans-serif;
  letter-spacing: 1.2px;
  margin: 0px 10px;
}

.right {
  padding-top: 20px;
  width: 45vw;
  height: 58vh;
  margin-top: 2em;
  margin-right: 0em;
  cursor: pointer;
  overflow-y: scroll;
  border-radius: 1px;
}

.right::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.right::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
.right::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
.right::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ques {
  font-family: 'Inter', sans-serif;
  font-size: 2vh;
  padding: 0.5rem 0.65rem;
  border-top: 0.8px solid #fff;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0rem -1rem; */
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.question h3 {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.7px;
  margin: 12px 0;
  /* padding-top: 0.5rem; */
}

.ansshow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 100;
  overflow: auto;
  opacity: 1;
  max-height: 160px;
  position: relative;
  -webkit-transition: max-height 0.5s linear;
  -moz-transition: max-height 0.5s linear;
  -o-transition: max-height 0.5s linear;
  transition: max-height 0.5s linear;
  left: 0;
  font-size: 2vh;
  color: rgba(229, 229, 236, 0.85);
  margin: 10px 1vw;
  margin-top: -5px;
  letter-spacing: 0.5px;
  /* top: 0; */
}

.hidden {
  opacity: 0;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.2s linear;
  -moz-transition: max-height 0.2s linear;
  -o-transition: max-height 0.2s linear;
  transition: max-height 0.2s linear;
}

@media (max-width: 600px) {
  .faqs {
    height: auto;
  }

  .faq {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .left {
    margin-left: -3vw;
  }

  #msgicon {
    height: 4.2vw;
    margin-top: 4px;
    margin-right: 1vw;
  }

  .team h3 {
    /* font-size: 10px; */
    margin: 1vh 8vw;
    font-weight: lighter;
    font-size: 15px;
  }

  .teamname {
    margin-left: 6px;
  }

  .team {
    margin-bottom: 7px;
  }

  .left {
    margin-top: -25px;
    height: auto;
    align-items: center;
    /* line-height: 1px; */
    width: 90vw;
  }

  #learnmorebtn {
    width: 80vw;
    margin: 0vh 5vw;
    margin-bottom: 20px;
  }

  .right {
    width: 90vw;
    height: 30vh;
    background: none;
    overflow-y: auto;
    padding-bottom: 15vh;
    margin-bottom: 10vh;
  }

  .ques {
    border-top: 1px solid #fff;
    /* border-bottom: 2px solid #fff; */
  }

  .ansshow {
    font-size: 1.8vh;
    letter-spacing: 1px;
    margin: 0 15px;
    color: rgba(229, 229, 236, 0.85);
    max-height: 250px;
    position: relative;
    -webkit-transition: max-height 0.5s linear;
    -moz-transition: max-height 0.5s linear;
    -o-transition: max-height 0.5s linear;
    transition: max-height 0.5s linear;
  }

  .hidden {
    opacity: 0;
    overflow: hidden;
    /* height: 0; */
    max-height: 0;
    -webkit-transition: max-height 0.2s linear;
    -moz-transition: max-height 0.2s linear;
    -o-transition: max-height 0.2s linear;
    transition: max-height 0.2s linear;
  }

  .question h3 {
    font-size: 1.2rem;
    margin: 10px 0px;
    font-weight: 300;
  }
}
