@font-face {
  font-family: homePageHeadingFont;
  src: url('../Events/Poppins-Regular.otf');
}

.main-container {
  height: 100vh;
  width: 93vw;
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  word-wrap: break-word;
  color: white;
  font-size: 35px;
}

.heading {
  font-family: homePageHeadingFont;
  position: absolute;
  left: 15vw;
  font-size: 3em;
  background: -webkit-linear-gradient(white, black);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: justify;
}

.heading h5 {
  background: rgb(186, 181, 181);
  background-clip: text;
  font-size: 0.3em;
}

#globe {
  margin-left: 467px;
}

@media screen and (max-width: 1500px) {
  .main-container {
    font-size: 31px;
  }
}

@media screen and (max-width: 1150px) {
  .main-container {
    font-size: 27px;
  }
  #globe {
    margin-left: 450px;
  }
}

@media screen and (max-width: 950px) {
  .main-container {
    font-size: 24px;
  }
  #globe {
    margin-left: 400px;
    /* width: 600px !important;
      height: 350px !important; */
  }
}

@media screen and (max-width: 800px) {
  .main-container {
    width: 100vw;
    font-size: 22px;
    flex-direction: column;
    align-items: center;
  }

  .heading {
    position: inherit;
    margin: 15vh;
    width: 100%;
  }
  .heading {
    text-align: center;
  }
  #globe {
    /* width: 600px !important;
    height: 350px !important; */
    margin-left: 0;
  }
  #globe-div {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

@media screen and (max-width: 600px) {
  .main-container {
    font-size: 20px;
  }
}

@media screen and (max-width: 488px) {
  #globe {
    width: 100vw !important;
    height: 700px !important;
  }
}
