@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&family=Russo+One&display=swap');

.udyam-events-main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 12vw;
  height: 100vh;
  width: 100vw;
}

.udyam-events-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  position: fixed;
  /* top: 0; */
  left: 7vw;
  height: 100vh;
  width: 15vw;
  padding: 20px;
  background-color: #232323;
  border: 1px solid black;
}

@font-face {
  font-family: udyam-eventListFont;
  src: url('./Comfortaa-Regular.ttf');
}

.udyam-events-item {
  font-family: udyam-eventListFont;
  color: #6f6f6f;
  margin: 20px;
}

.active {
  color: white;
  text-decoration: underline;
}

.udyam-event-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 100px; */
  /* height: 0%; */
  padding: 100px;
  overflow: scroll;
}

@font-face {
  font-family: udyam-eventHeadingFont;
  src: url('./RussoOne-Regular.ttf');
}

.udyam-event-heading {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  position: absolute;
  /* height: 50px; */
  font-family: udyam-eventHeadingfont;
  font-size: 75px;
  color: #dadada;
  margin-left: -52vw;
  top: 20px;
}

.udyam-events-heading-box {
  font-weight: 900;
  font-family: homePageHeadingFont;
  background: -webkit-linear-gradient(white, rgb(160, 158, 158));
  background-clip: text;
  -webkit-text-fill-colo: transparent;
  letter-spacing: 2px;
}

.getback-btn {
  position: fixed;
  color: white;
  font-size: 30px;
  top: 48.8vh;
  z-index: 9;
}

.udyam-event-img {
  display: flex;
  justify-content: center;
  width: 60vw;
  margin-bottom: 35px;
  margin-top: 13vh;
  /* padding: 20px 0px; */
  /* height: 300px; */
}

.udyam-event-img img {
  width: 50%;
}

.udyam-event-title {
  display: flex;
  justify-content: center;
  font-family: udyam-eventHeadingFont;
  font-size: 40px;
  padding: 7px;
  width: 70%;
  color: white;
  background-color: #232323;
  border-radius: 10px;
  font-style: normal;
  letter-spacing: 3px;
}

@font-face {
  font-family: udyam-eventDescFont;
  src: url('./Poppins-Regular.otf');
}

.udyam-event-desc {
  display: flex;
  font-family: udyam-eventDescFont;
  font-size: 20px;
  line-height: 26px;
  width: 60%;
  color: white;
  margin: 25px;
  letter-spacing: 1.2px;
  text-align: center;
}

.udyam-event-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  height: 45px;
  margin-top: 10px;
}

.udyam-event-arrows {
  display: none;
}

.ps-link,
.udyam-event-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28%;
  /* height: 50px; */
  color: white;
  background-color: #232323;
  border-radius: 50px;
  font-size: 17px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0px 0px 5px white;
  cursor: pointer;
  text-align: center;
}

@media (max-width: 800px) {
  .udyam-events-main {
    left: 0;
    width: 100vw;
    height: 90vh;
  }

  .udyam-event-heading {
    font-size: 50px;
  }

  .udyam-events-heading-box {
    margin-left: 50px;
  }

  .udyam-event-body {
    margin: 0;
    padding: 0;
  }

  .udyam-event-img {
    width: 80%;
  }

  .udyam-event-img img {
    width: 90%;
  }

  .udyam-event-desc {
    font-size: 15px;
    line-height: 20px;
  }

  .udyam-event-title {
    font-size: 30px;
  }

  .udyam-event-arrows {
    display: flex;
    margin: 3vh 0vw;
    position: fixed;
    bottom: 20px;
  }

  #left {
    margin-right: 35vw;
  }

  #right {
    margin-left: 35vw;
  }
  .udyam-event-buttons {
    display: block;
  }
  .udyam-event-buttons div {
    width: 100%;
    margin-bottom: 10px;
    padding: 7px;
  }
}
