@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 10vh;
  display: flex;
  background: #120b2c;
}
nav {
  width: 90%;
  display: flex;
  justify-content: center;
}
.nav-links {
  display: flex;
  margin-left: 1rem;
  text-decoration: none;
  list-style: none;
  justify-content: space-between;
  align-self: center;
  width: 80%;
}
.nav-links li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
}
.nav-links li a:hover {
  color: aqua;
}
.menu {
  position: absolute;
  right: 10%;
  height: 36px;
  width: 40px;
  font-size: 22px;
  align-self: center;
  border-radius: 1px;
  /* padding: 5px 10px; */
  float: right;
}
.menu-text {
  font-size: 1.2rem;
  display: none;
  color: #fff;
  height: 4vh;
  text-align: center;
  position: absolute;
  top: 3.5%;
  right: 17.5%;
}
.show {
  transition: expand 4s ease-in-out;
}
@keyframes expand {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}
.hide {
  display: none;
}
@media screen and (max-width: 800px) and (min-width: 600px) {
  .nav-links li a {
    font-size: 0.94rem;
  }
}
@media screen and (max-width: 600px) {
  .nav-links {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #4318de;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0%;
    z-index: 2;
  }
  .nav-links:focus {
    transition: slide 12s ease-in-out;
  }
  @keyframes slide {
    0% {
      transform: translateY(-100%);
    }
    20% {
      transform: translateY(-50%);
    }
    80% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  .nav-links li {
    padding: 2rem;
  }
  .nav-links li:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.2);
  }

  .menu {
    z-index: 3;
  }
}
