@font-face {
  font-family: homePageHeadingFont;
  src: url('../Events/Poppins-Regular.otf');
}

.sponsers {
  display: flex;
  flex-direction: column;
  width: 84vw;
  position: relative;
  top: 10%;
  left: 12%;
}
.sponser img {
  height: 10rem;
}
.sponsers h1 {
  display: inline-block;
  position: relative;
  top: 10%;
  left: 25px;
  font-size: 65px;
  font-weight: 600;
  font-family: homePageHeadingFont;
  background: -webkit-linear-gradient(white, rgb(160, 158, 158));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sponsBox {
  position: relative;
  top: 20%;
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  justify-content: space-evenly;
  padding: 0;
}
.sponser {
  display: inline-block;
  width: 25%;
  /* height: 16rem; */
  margin: 40px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.sponsorImage {
  border-radius: 10px;
  box-shadow: 0px 2px 10px 10px rgba(255, 255, 255, 0.25);
}

/* .sponser1 {
  background-image: url(./images/sp1.jpg);
}
.sponser2 {
  background-image: url(./images/sp2.png);
}
.sponser3 {
  background-image: url(./images/sp3.jpg);
}
.sponser4 {
  background-image: url(./images/sp4.png);
}
.sponser5 {
  background-image: url(./images/sp5.jpg);
}
.sponser6 {
  background-image: url(./images/sp6.png);
}
.sponser7 {
  background-image: url(./images/sp7.png);
}
.sponser8 {
  background-image: url(./images/sp8.jpg);
} */

.sp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* top: 75%; */
  height: 25%;
  width: 100%;
  text-align: center;
  font-family: 'League sparten', sans-serif;
  font-weight: bold;
  font-size: 20px;
  background-color: rgba(18, 13, 13, 0.42);
  color: white;
}

.sp h4 {
  position: relative;
  display: inline-block;
  left: 10px;
}
.spicon {
  color: #fff;
  position: relative;
  margin-right: 10px;
  display: inline-block;
}

@media (max-width: 456px) {
  .sponser {
    width: 80%;
    margin: 35px;
    /* height: 45vh; */
  }
  .sponsers h1 {
    font-size: 3rem;
    text-align: center;
  }
}

@media (min-width: 456px) and (max-width: 600px) {
  .sponser {
    width: 60%;
  }
}

@media (max-width: 800px) {
  .sponsers {
    align-items: center;
  }
  .sponsers h1 {
    left: 0;
    font-size: 45px;
  }
}

@media (min-width: 600px) and (max-width: 635px) {
  .sponser {
    width: 50%;
  }
}

@media (min-width: 635px) and (max-width: 1071px) {
  .sponser {
    width: 35%;
    /* height: 13rem; */
  }
}

@media (min-width: 1071px) and (max-width: 1142px) {
  .sponser {
    width: 32%;
  }
}
