.footerbg{
  height:100%;
  background-color: #130426;
}
.items{
  padding-top: 3%;
  padding-bottom: 3%;
}
.px{
  padding: 0 1%;
  position: relative;
  float: right;
  padding-right: 2%;
  transform: scale(0.8);
}
.pxd{
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 1%;
}
@media only screen and (max-width: 900px) {

  .px{
    height: 65px;
  }

}
@media only screen and (max-width: 800px) {

  .px{
    height: 55px;
  }

}
@media only screen and (max-width: 600px) {

  .px{
    height: 52px;
    padding-top: 5%;
  }

}
@media only screen and (max-width: 500px) {

  .px{
    height: 48px;
    padding-top: 5%;
  }
.pxd{
  transform: scale(0.5);
  padding-top: 7%;
}
}
@media only screen and (max-width: 300px) {

  .px{
    height: 30px;
    padding-top: 5%;
  }
.pxd{
  transform: scale(0.5);
  padding-top: 7%;
}
}