
.bg{
    background: url(./images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100vw;
}
.main {
  max-width: 100vw;
}
.items {
  display: flex;
  justify-content: center;
  position: relative;
  top: 23%;
  margin-left: 3.5%;
}
.px {
  padding: 0 5px;
  height: 34px;
}
@media screen and (min-width: 1550px) and (max-width: 1800px) {
  .px {
    height: 39.5px;
    padding: 0 0.5%;
  }
  .items {
    margin-right: 11%;
    top: 24%;
  }
}
@media screen and (min-width: 1500px) and (max-width: 1550px) {
  .px {
    height: 40.5px;
    padding: 0 0.5%;
  }
  .items {
    margin-right: 7%;
    top: 24%;
  }
}
@media screen and (max-width: 1200px) {
  .px {
    height: 28.5px;
    padding: 0 0.5%;
  }
  .items {
    margin-left: 3.5%;
    top: 19%;
  }
}
@media screen and (max-width: 1000px) {
  .px {
    height: 20.5px;
    padding: 0 0.5%;
  }
  .items {
    margin-left: 3.5%;
    top: 19%;
  }
  .bg {
    height: 400px;
  }
}
@media screen and (max-width: 800px) {
  .px {
    height: 18.5px;
    padding: 0 0.5%;
  }
  .items {
    margin-left: 3.5%;
    top: 19%;
  }
  .bg {
    height: 350px;
  }
}
@media screen and (max-width: 700px) {
  .px {
    height: 16.5px;
    padding: 0 0.5%;
  }
  .items {
    margin-left: 3.5%;
    top: 19%;
  }
  .bg {
    height: 300px;
  }
}
@media screen and (max-width: 600px) {
  .px {
    height: 16.5px;
    padding: 0 0.5%;
  }
  .items {
    margin-left: 3.5%;
    top: 19%;
  }
  .bg {
    height: 250px;
  }
}
@media screen and (max-width: 500px) {
  .px {
    height: 14.5px;
    padding: 0 0.5%;
  }
  .items {
    margin-left: 3.5%;
    top: 19%;
  }
  .bg {
    height: 220px;
  }
}
@media screen and (max-width: 450px) {
  .px {
    height: 12.5px;
    padding: 0 0.5%;
  }
  .items {
    margin-left: 3.5%;
    top: 19%;
  }
  .bg {
    height: 200px;
  }
}
@media screen and (max-width: 400px) {
  .px {
    height: 10.5px;
    padding: 0 0.5%;
  }
  .items {
    margin-left: 3.5%;
    top: 19%;
  }
  .bg {
    height: 180px;
  }
}
@media screen and (max-width: 350px) {
  .px {
    height: 8.5px;
    padding: 0 0.5%;
  }
  .items {
    margin-left: 3.5%;
    top: 19%;
  }
  .bg {
    height: 150px;
  }
}
@media screen and (max-width: 300px) {
  .px {
    height: 8.5px;
    padding: 0 0.6%;
  }
  .items {
    margin-left: 3.5%;
    top: 21%;
  }
  .bg {
    height: 120px;
  }
}
