.button-container {
  position: absolute;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.dial-button {
  position: relative;
}

.circular-mai-container {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgb(2, 2, 49);
}
