.main-container-for-logo {
  height: 600px;
  width: 600px;
  position: fixed;
  top: 20vh;
  right: 5vw;
  display: flex;
  justify-content: center;
}

.main-logo-container {
  position: relative;
  margin: auto 20px;
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@keyframes rotating_ {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.ring-box-1 {
  position: absolute;
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin: auto 20px;
  user-select: none;
}

.rings {
  position: absolute;
  z-index: 0;
  user-select: none;
  /* top: 0; */
}

.ring-10 {
  animation: rotating 10s linear infinite;
}
.ring-8 {
  animation: rotating_ 10s linear infinite;
}

.ring-7 {
  animation: rotating 10s linear infinite;
}

.ring-middle {
  transform: scale(1.2);
  height: 120%;
  animation: rotating 15s linear infinite;
}
.ring-4 {
  transform: scale(1.2);
  filter: invert(1) brightness(2);
  height: 120%;
  animation: rotating 15s linear infinite;
}

.ring-3 {
  /* transform: scale(1.2); */
  filter: invert(1);
  animation: rotating_ 15s linear infinite;
}

.ring-6 {
  transform: rotate(90deg);
  z-index: -2;
  bottom: -55px;
}

.dotted-ring {
  animation: rotating 50s linear infinite;
}

.glowing-ring {
  position: absolute;
  height: 80%;
  width: 80%;
  border-radius: 50%;
  box-shadow: 1px 1px 100px 20px rgba(255, 255, 255, 0.5);
}

.glass-lens {
  position: absolute;
  height: 90%;
  width: 90%;
  border-radius: 50%;
  transform: scale(0.9);
  filter: opacity(0.7);
  background-color: rgba(255, 255, 255, 0.2);
  user-select: none;
  z-index: -2;
}

.main-event-logo {
  position: relative;
  margin: auto;
  z-index: 1;
  transition: all 0.5s ease;
}
