.about-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  /* background-color: rgb(2, 2, 50); */
}

.about-container > h1 {
  position: absolute;
  color: aliceblue;
  font-size: 2.5rem;
  margin-left: 12%;
  margin-top: 10%;
}

.about-content {
  position: relative;
  display: flex;
  height: 60vh;
  width: 60vw;
  color: aliceblue;
  border-radius: 50px;
  background: linear-gradient(277.69deg, #aad9d9 10%, #9090dc 80%, #7d7ddc 100%);
  margin-left: 8%;
  top: 35%;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}

.about-content > p {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 1.5rem;
  height: 80%;
  font-family: Comfortaa;
}
--webkit-scrollbar {
  display: none;
}

.about-image-shadow {
  position: absolute;
  top: 35%;
  right: 5vw;
  width: 20vw;
  height: 60vh;
  opacity: 0.6;
  transform: rotate(-8.98deg);
  background-color: #7d7ddc;
  border-radius: 50px;
}

.about-image {
  position: absolute;
  top: 35%;
  right: 5vw;
  width: 20vw;
  height: 60vh;
  background-color: #7d7ddc;
  border-radius: 50px;
}

@media screen and (max-width: 600px) {
  .about-title {
    position: relative;
    font-size: 1.2rem !important;
    left: 10%;
  }
  .about-content > p {
    font-size: 0.8rem;
    margin: auto 10px;
    height: 70%;
  }
  .about-content {
    position: relative;
    top: 40%;
    height: 50%;
    width: 85%;
    overflow: scroll;
  }
  .about-image-shadow {
    width: 35vw;
    height: 25vh;
    top: 13vh;
    left: 30%;
  }
  .about-image {
    width: 35vw;
    height: 25vh;
    top: 13vh;
    left: 30%;
  }
}
