@font-face {
  font-family: homePageHeadingFont;
  src: url('../Events/Poppins-Regular.otf');
}

.sponsors {
  display: flex;
  flex-direction: column;
  width: 84vw;
  position: relative;
  left: 12%;
}

.sponsors h1 {
  display: inline-block;
  position: relative;
  top: 10%;
  left: 25px;
  font-size: 65px;
  font-weight: 600;
  font-family: homePageHeadingFont;
  background: -webkit-linear-gradient(white, black);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-block-end: 0;
}

.sponsorContainer {
  position: relative;
  top: 20%;
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  justify-content: space-evenly;
  padding: 0;
}

.sponsor {
  display: inline-block;
  width: 19%;
  height: 16rem;
  margin: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo-container {
  width: 100%;
  height: 80%;
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.sponsor1 {
  background-image: url(./images/sp1.png);
}
.sponsor2 {
  background-image: url(./images/sp2.png);
}
.sponsor3 {
  background-image: url(./images/sp3.png);
}
.sponsor4 {
  background-image: url(./images/sp4.png);
}
.sponsor5 {
  background-image: url(./images/sp5.png);
}
.sponsor6 {
  background-image: url(./images/sp6.png);
}
.sponsor7 {
  background-image: url(./images/sp7.png);
}
.sponsor8 {
  background-image: url(./images/sp8.png);
}

.sponsorName {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: white;
}

@media (max-width: 428px) {
  .sponsor {
    width: 80%;
    height: 45vh;
    margin: 30px;
  }
  sponsors h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .sponsors {
    align-items: center;
  }
  .sponsors h1 {
    left: 0;
    font-size: 45px;
  }
}

@media (min-width: 429px) and (max-width: 1071px) {
  .sponsor {
    width: 10rem;
    height: 13rem;
  }
  .sponsorName {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: 1072px) and (max-width: 1260px) {
  .sponsorName {
    font-size: 18px;
    line-height: 22px;
  }
}
