@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
.card-container {
  display: flex;
  flex-direction: column;
  width: 34rem;
  height: 17rem;
  margin: 1rem 1rem;
}
.speaker-card {
  display: flex;
  width: 34rem;
  height: 14rem;
}

.speaker-card .card-front {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.37);
  backface-visibility: hidden;
  transform: perspective(1000px) rotateY(0deg);
  transition: 1s;
  z-index: 2;
  border-radius: 10px 10px 0 0;
}
.speaker-card:hover .card-front {
  transform: perspective(1000px) rotateY(180deg);
}
.links-container-speakers {
  display: flex;
  background-color: #693b93;
  border-radius: 0 0 15px 15px;
  width: 34rem;
  height: 3rem;
  justify-content: space-evenly;
  z-index: 1;
}
.links-container-speakers img:hover {
  filter: invert(100%) sepia(6%) saturate(0%) hue-rotate(70deg) brightness(108%) contrast(108%);
}

.speaker-card .card-back {
  position: absolute;
  display: flex;
  width: 34rem;
  height: 14rem;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.37);
  backface-visibility: hidden;
  transform: perspective(1000px) rotateY(-180deg);
  transition: 1s;
  z-index: 2;
  border-radius: 10px 10px 0 0;
}
.speaker-card:hover .card-back {
  transform: perspective(1000px) rotateY(0deg);
}

.card-front {
  justify-content: space-around;
}
.card-front h1 {
  font-family: 'League Spartan', sans-serif;
  font-size: 2.6rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-align: center;
  margin: 1rem 0 0 0;
  height: 40%;
}
.card-front .card-image {
  display: flex;
  height: 13rem;
  align-self: center;
}
.card-front .card-front-content {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.card-front .card-front-content p {
  text-align: center;
  font-family: 'Iceland', cursive;
  font-size: 1.7rem;
}
.card-back .card-back-content p {
  text-align: center;
  font-family: 'Iceland', cursive;
  font-size: 1.7rem;
}
.card-back .card-back-content h1 {
  text-align: center;
  font-family: 'Iceland', cursive;
  font-size: 2.3rem;
}
@media screen and (max-width: 700px) {
  .card-container {
    width: 25rem;
    height: 9rem;
  }
  .speaker-card {
    width: 25rem;
    height: 8rem;
  }
  .speaker-card .card-back {
    width: 25rem;
    height: 7rem;
  }
  .card-front h1 {
    font-size: 1.8rem;
  }
  .card-front .card-front-content p {
    font-size: 1rem;
  }
  .card-back .card-back-content h1 {
    font-size: 1.5rem;
  }
  .card-back .card-back-content p {
    font-size: 1rem;
  }
  .card-front .card-image {
    height: 7rem;
  }
  .links-container-speakers {
    width: 25rem;
    height: 2rem;
  }
  .links-container-speakers img {
    width: 2rem;
    height: 2rem;
  }
}
@media screen and (max-width: 500px) {
  .card-container {
    width: 21rem;
  }
  .speaker-card {
    width: 21rem;
  }
  .speaker-card .card-back {
    width: 21rem;
  }
  .card-front h1 {
    font-size: 1.4rem;
    height: 33%;
  }
  .links-container-speakers {
    width: 21rem;
  }
}
