.registerPage {
  height: 100vh;
  width: 100vw;
  background-color: rgb(5, 4, 43);
  display: flex;
}

.form-container {
  position: absolute;
  left: 0 !important;
  height: 100vh;
  width: 50vw;
  background-color: #052121;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

.form-container h1 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #5b2ed3;
}

.form-container > form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  width: 50vw;
  margin: auto;
}
.form-container > form input,
select {
  width: 80%;
  min-height: 50px;
  background: none;
  border: none;
  border-bottom: 1px solid white;
  box-sizing: border-box;
  font-family: 'Poppins';
  font-style: normal;
  /* font-weight: 600; */
  font-size: 20px;
  line-height: 27px;
  color: white;
  padding-left: 10px;
  text-align: center;
}

.form-container > form input:focus {
  outline: none;
}

.form-submit {
  height: 50px;
  width: 20%;
  border-radius: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  border: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, #4213c5 0%, #160348 100%);
}

.form-submit > span {
  margin: auto;
}

.dial {
  position: absolute;
  right: 0;
}

@media screen and (max-width: 700px) {
  .form-container {
    width: 100vw;
  }
  .form-submit {
    width: 50%;
    margin-top: 10px;
  }
  .form-container > form {
    width: 100vw;
  }
  .form-container h1 {
    font-size: 1.2rem;
  }
}
